@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

.parentContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  justify-content: flex-start;
  height: 400px;
  padding: 20px;
  border: 1px solid gray;
  background-color: lightgray;
  align-items: space-around;
}

body,
html {
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.listItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.parentCollapsed {
  width: 100px;
  height: 170px
}
.parentMinimised{
  height: 52px
}
.parentInteractor {
  display: flex;
}
.clearSecAndList {
  flex: 3;
}